<div class="card mb-6">
  <header class="card-header card-header-title has-background-grey">
    
        <div class="column">
           
      <a href="/post/{{id}}"  class="has-text-black is-capitalized is-pulled-left">{{title}} </a>
             <div class="is-pulled-right">
                 <b>{{user.username}}</b>  
                 on {{format_date created_at}}  
      </div>
        <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content">
        <div class="content has-text-justified">
            {{post_content}}
        </div>
            <div class="is-pulled-right">
                <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        
    </div>
